@import 'parziali/universale';
@import 'parziali/body';
@import 'parziali/select';
@import 'parziali/grid-container';
@import 'parziali/div-ricerca';
@import 'parziali/popup-profilo';
@import 'parziali/popup-titoli';
@import 'parziali/section-a';
@import 'parziali/section-b';
@import 'parziali/section-c';
@import 'parziali/section-e';
@import 'parziali/section-f';
@import 'parziali/section-g';
@import 'parziali/footer';
@import 'parziali/form-contattaci';
@import 'parziali/media-query344px';
@import 'parziali/media-query360px';
@import 'parziali/media-query390px';
@import 'parziali/media-query412px';
@import 'parziali/media-query414px';
@import 'parziali/media-query430px';
@import 'parziali/media-query540px';
@import 'parziali/media-query768px';
@import 'parziali/media-query853px';
@import 'parziali/media-query855px';
@import 'parziali/media-query912px';
@import 'parziali/media-query1024px';
@import 'parziali/media-query1025px';