@charset "UTF-8";
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#menu {
  border: solid black 1px;
  background-color: lightblue;
  width: 100%;
  position: fixed;
  z-index: 10000;
  height: 60px;
  bottom: 0;
}
#menu ul {
  list-style: none;
  display: flex;
}
#menu ul li {
  width: 25%;
  text-align: center;
}
#menu ul li a {
  text-decoration: none;
  line-height: 60px;
  color: white;
  transition: 0.5s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 8px rgba(0, 0, 0, 0.5);
}
#menu ul li a:hover {
  color: #4682B4;
}
#menu ul li:first-child {
  background-image: url(../images/icone/home.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center center;
}
#menu ul li:nth-child(2) {
  background-image: url(../images/icone/magnifying-glass.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center center;
}
#menu ul li:nth-child(3) {
  background-image: url(../images/icone/download.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center center;
}
#menu ul li:last-child {
  background-image: url(../images/icone/profile-user.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center center;
}

.grid-container {
  display: grid;
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
}

.avanti, .indietro {
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  z-index: 500;
}

.indietro {
  left: 2%;
  top: 45%;
  border: solid black 1px;
  cursor: pointer;
}
.indietro::before {
  content: "◄";
}

.avanti {
  right: 2%;
  top: 45%;
  border: solid black 1px;
  cursor: pointer;
}
.avanti::after {
  content: "►";
}

.ricerca-overlay {
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  display: none;
}
.ricerca-overlay .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
}
.ricerca-overlay .ricerca-container {
  position: relative;
  top: 10vh;
  background-color: #36454F;
  border-radius: 7px;
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.ricerca-overlay .ricerca-container .ricerca-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ricerca-overlay .ricerca-container .ricerca-input input {
  width: 75%;
  height: 40px;
  border-radius: 7px;
  border: solid black 1px;
  padding: 10px;
}
.ricerca-overlay .ricerca-container .ricerca-input .cancel {
  width: 10%;
  border-radius: 7px;
  border: solid black 1px;
  background-color: skyblue;
  cursor: pointer;
}
.ricerca-overlay .ricerca-container .ricerca-input .close-search {
  width: 10%;
  border-radius: 7px;
  border: solid black 1px;
  background-color: skyblue;
  cursor: pointer;
}
.ricerca-overlay .ricerca-container .ricerca-content {
  width: 100%;
  margin: 20px auto;
  border-radius: 7px;
  background-color: #818589;
}

body .overlay-profilo {
  position: fixed;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
body .overlay-profilo .profilo .chiudi-profilo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: solid 1px black;
  cursor: pointer;
}
body .overlay-profilo .profilo .chiudi-profilo::before {
  content: "✘";
  display: flex;
  justify-content: center;
}
body .overlay-profilo .profilo {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: gray;
  border-radius: 20px;
}
body .overlay-profilo .profilo h3 {
  width: 100%;
  padding: 15px;
  text-align: center;
}
body .overlay-profilo .profilo .btns-profilo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
body .overlay-profilo .profilo .btns-profilo button {
  margin: 10px;
  height: 30px;
  width: 50%;
  border-radius: 10px;
  border: none;
  background-color: cyan;
  cursor: pointer;
}

body .popup-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
}
body .popup-overlay .popup-container {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 200;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: 90%;
  padding-bottom: 40px;
}
body .popup-overlay .popup-container .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border: solid black 1px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
}
body .popup-overlay .popup-container .close::before {
  content: "✘";
  display: flex;
  justify-content: center;
}
body .popup-overlay .popup-container .popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 33px 5px 5px;
  min-height: 200px;
  background-color: gray;
  justify-content: center;
}
body .popup-overlay .popup-container .popup div {
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
}
body .popup-overlay .popup-container .popup .titolo-popup {
  font-size: 1em;
}
body .popup-overlay .popup-container .popup .sinossi-popup {
  font-size: 0.9em;
}

.a {
  grid-area: a;
  background-color: lightblue;
  border: black solid 1px;
  display: flex;
  height: 60px;
}
.a #logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.a #logo img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% center;
     object-position: 60% center;
  transform: translateY(6%);
}
.a .btns-filtra {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.a .btns-filtra .filtra {
  margin: 5px 7px;
  border-radius: 50px;
  padding: 3px;
  width: 20%;
  font-size: 0.8em;
  cursor: pointer;
}
.a .btns-filtra .filtra a {
  color: black;
  text-decoration: none;
}
.a .btns-filtra .div-pages {
  display: none;
}
.a .btns-filtra .div-pages a {
  text-decoration: none;
  color: black;
}

.b {
  grid-area: b;
  background-color: #B0C4DE;
  border: black solid 1px;
  position: relative;
  padding-top: clamp(10px, 3%, 100px);
}
.b h1 {
  text-align: center;
}
.b .container-titoli {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  height: 60vw;
}
.b .container-titoli img {
  position: absolute;
  cursor: pointer;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.b .container-titoli .visibile {
  left: 0;
}
.b .container-titoli .prossima {
  left: 100%;
  transition: 0s;
}
.b .buttons2 {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: 88%;
}
.b .buttons2 button {
  width: 25px;
  height: 15px;
  margin: 5px;
  border-radius: 100px;
  cursor: pointer;
}

.c {
  grid-area: c;
  position: relative;
  border: black solid 1px;
  background-color: #B0C4DE;
  overflow: hidden;
  height: 250px;
}
.c h2 {
  font-size: 1.2em;
  padding-left: 5px;
  margin: 3px 0;
}
.c h2 a {
  text-decoration: none;
  color: black;
}
.c h2 a::after {
  content: " >";
}
.c .titoli-anime {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 250px;
}
.c .titoli-anime div {
  width: 35%;
  min-height: 200px;
  position: absolute;
  overflow: hidden;
  left: -100%;
}
.c .titoli-anime div img {
  display: block;
  width: 100%;
  height: 200px;
  padding: 3px;
  border-radius: 10px;
}
.c .titoli-anime div .overlay {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.c .titoli-anime div .overlay h3 {
  width: 100%;
  text-align: center;
  opacity: 0;
  font-size: clamp(0.7em, 1.5vw, 1.1em);
  margin: 0 auto;
  color: white;
}
.c .titoli-anime div .overlay p {
  width: 100%;
  font-size: clamp(0.5em, 0.8vw, 0.9em);
  color: white;
  opacity: 0;
}
.c .titoli-anime .anime-visibile {
  left: 0;
}
.c .titoli-anime .anime-visibile2 {
  left: 36%;
}
.c .titoli-anime .anime-visibile3 {
  left: 72%;
}
.c .titoli-anime .anime-prossimo {
  left: 100%;
}

.e {
  grid-area: e;
  position: relative;
  background-color: #B0C4DE;
  border: black solid 1px;
  height: 250px;
}
.e h2 {
  font-size: 1.2em;
  padding-left: 5px;
  margin: 3px 0;
}
.e h2 a {
  text-decoration: none;
  color: black;
}
.e h2 a::after {
  content: " >";
}
.e h3 {
  font-size: 1em;
  margin: 10px auto;
  text-align: center;
}
.e p {
  font-size: 0.85em;
  opacity: 0;
}
.e .lotr {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.e .lotr div {
  width: 35%;
  min-height: 200px;
  position: absolute;
  overflow: hidden;
  left: -100%;
}
.e .lotr div img {
  display: block;
  width: 100%;
  height: 200px;
  padding: 3px;
  border-radius: 10px;
}
.e .lotr div .overlay {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.e .lotr div .overlay h3 {
  width: 100%;
  text-align: center;
  opacity: 0;
  font-size: clamp(0.7em, 1vw, 1.1em);
  margin: 0 auto;
  color: white;
}
.e .lotr div .overlay p {
  width: 100%;
  font-size: clamp(0.5em, 0.8vw, 0.9em);
  opacity: 0;
  color: white;
}
.e .lotr .lotr-visibile {
  left: 0;
}
.e .lotr .lotr-visibile2 {
  left: 36%;
}
.e .lotr .lotr-visibile3 {
  left: 72%;
}
.e .lotr .lotr-prossimo {
  left: 100%;
}

.f {
  grid-area: f;
  position: relative;
  background-color: #B0C4DE;
  border: black solid 1px;
  height: 250px;
}
.f h2 {
  font-size: 1.2em;
  padding-left: 5px;
  margin: 3px 0;
}
.f h2 a {
  text-decoration: none;
  color: black;
}
.f h2 a::after {
  content: " >";
}
.f h3 {
  font-size: 1em;
  margin: 10px auto;
  text-align: center;
}
.f p {
  font-size: 0.85em;
  opacity: 0;
}
.f .film-autore {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.f .film-autore div {
  width: 35%;
  min-height: 200px;
  position: absolute;
  overflow: hidden;
  left: -100%;
}
.f .film-autore div img {
  display: block;
  width: 100%;
  height: 200px;
  padding: 3px;
  border-radius: 10px;
}
.f .film-autore div .overlay {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.f .film-autore div .overlay h3 {
  width: 100%;
  text-align: center;
  opacity: 0;
  font-size: clamp(0.7em, 1.5vw, 1.1em);
  margin: 0 auto;
  color: white;
}
.f .film-autore div .overlay p {
  width: 100%;
  font-size: clamp(0.5em, 0.8vw, 0.9em);
  opacity: 0;
  color: white;
}
.f .film-autore .film-visibile {
  left: 0;
}
.f .film-autore .film-visibile2 {
  left: 36%;
}
.f .film-autore .film-visibile3 {
  left: 72%;
}
.f .film-autore .film-prossimo {
  left: 100%;
}

.g {
  grid-area: g;
  position: relative;
  background-color: #B0C4DE;
  border: black solid 1px;
  height: 250px;
}
.g h2 {
  font-size: 1.2em;
  padding-left: 5px;
  margin: 3px 0;
}
.g h2 a {
  text-decoration: none;
  color: black;
}
.g h2 a::after {
  content: " >";
}
.g h3 {
  font-size: 1em;
  margin: 10px auto;
  text-align: center;
}
.g p {
  font-size: 0.85em;
  opacity: 0;
}
.g .serie-tv {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.g .serie-tv div {
  width: 35%;
  min-height: 200px;
  position: absolute;
  overflow: hidden;
  left: -100%;
}
.g .serie-tv div img {
  display: block;
  width: 100%;
  height: 200px;
  padding: 3px;
  border-radius: 10px;
}
.g .serie-tv div .overlay {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.g .serie-tv div .overlay h3 {
  width: 100%;
  text-align: center;
  opacity: 0;
  font-size: clamp(0.7em, 1.5vw, 1.1em);
  margin: 0 auto;
  color: white;
}
.g .serie-tv div .overlay p {
  width: 100%;
  font-size: clamp(0.5em, 0.8vw, 0.9em);
  opacity: 0;
  color: white;
}
.g .serie-tv .serie-visibile {
  left: 0;
}
.g .serie-tv .serie-visibile2 {
  left: 36%;
}
.g .serie-tv .serie-visibile3 {
  left: 72%;
}
.g .serie-tv .serie-prossimo {
  left: 100%;
}

footer {
  border: black solid 1px;
  background-color: #818589;
  min-height: 150px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 80px;
}
footer ul:first-child {
  list-style: none;
  width: 30%;
  margin: 10px auto;
}
footer ul:first-child li {
  margin: 3px;
  text-align: center;
}
footer ul:nth-child(2) {
  list-style: none;
  width: 30%;
  margin: 10px auto;
}
footer ul:nth-child(2) li {
  margin: 3px;
  text-align: center;
}
footer ul:nth-child(3) {
  list-style: none;
  width: 30%;
  margin: 10px auto;
}
footer ul:nth-child(3) li {
  margin: 3px;
  text-align: center;
}
footer ul:last-child {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  margin: 10px auto;
}
footer ul:last-child li:nth-child(1) {
  width: 43px;
  height: 43px;
  background-image: url("../images/icone/collection32px/sprite32px.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 0;
}
footer ul:last-child li:nth-child(1):hover {
  background-position: 0 -45px;
}
footer ul:last-child li:nth-child(2) {
  width: 43px;
  height: 43px;
  background-image: url("../images/icone/collection32px/sprite32px.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 -88px;
}
footer ul:last-child li:nth-child(2):hover {
  background-position: 0 -133px;
}
footer ul:last-child li:nth-child(3) {
  width: 43px;
  height: 43px;
  background-image: url("../images/icone/collection32px/sprite32px.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0 -177px;
}
footer ul:last-child li:nth-child(3):hover {
  background-position: 0 -222px;
}
footer li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 0.9em;
}

.form-container {
  display: none;
  position: fixed;
  margin-top: 50px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.form-container .contattaci {
  position: relative;
  border: solid black 1px;
  background-color: cadetblue;
  border-radius: 10px;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
  padding: 10px;
}
.form-container .contattaci #chiusura-contattaci {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  aspect-ratio: 1/1;
  border: black 1px solid;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}
.form-container .contattaci #chiusura-contattaci::before {
  content: "✘";
  display: flex;
  justify-content: center;
}
.form-container .contattaci h4 {
  margin: 20px auto;
  text-align: center;
  font-size: 2em;
}
.form-container .contattaci form {
  background-color: #89CFF0;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-container .contattaci form input {
  width: 70%;
  margin: 10px auto;
  border: solid black 1px;
  border-radius: 5px;
  height: 35px;
  margin: 10px auto;
  padding: 10px;
}
.form-container .contattaci form #text-area {
  width: 70%;
  margin: 10px auto;
  border: solid black 1px;
  border-radius: 5px;
  min-height: 150px;
  font-size: 0.86em;
  resize: none;
  padding: 10px;
}
.form-container .contattaci form button {
  width: 70%;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1px black;
}
.form-container .contattaci .accordance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.form-container .contattaci .accordance label {
  max-width: 90%;
}
.form-container .contattaci .accordance span {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.errore::-moz-placeholder {
  color: red;
}

.errore::placeholder {
  color: red;
}