//Gestione della barra di ricerca


.ricerca-overlay{
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    display: none;
    .overlay {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100vw;
    }
    .ricerca-container {
        position: relative;
        top: 10vh;
        background-color: #36454F;
        border-radius: 7px;
        padding: 20px;
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        .ricerca-input {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            input {
                width: 75%;
                height: 40px;
                border-radius: 7px;
                border: solid black 1px;
                padding: 10px;
            }

            @mixin btn-searchbar {

                width: 10%;
                border-radius: 7px;
                border: solid black 1px;
                background-color: skyblue;
                cursor: pointer;

            }

            .cancel {
               
                @include btn-searchbar;

            }
            .close-search {
                               
                @include btn-searchbar;

            }
        }
        .ricerca-content {
            width: 100%;
            margin: 20px auto;
            border-radius: 7px;
            background-color: #818589;
        }
    }
}