.b {
    grid-area: b;
    background-color: #B0C4DE;
    border: black solid 1px;
    position: relative;
    padding-top: clamp(10px, 3%, 100px);
    h1 {
        text-align: center;
    }
    .container-titoli {
        position: relative;
        overflow: hidden;
        max-width: 100vw;
        height: 60vw;
        img {
            position: absolute;
            cursor: pointer;
            left: -100%;
            width: 100%;
            height: 100%;
            transition: 1s;
        }

        .visibile {
            left: 0;
        }

        .prossima {
            left: 100%;
            transition: 0s;
        }
    }

     .buttons2 {
            position: absolute;
            display: flex;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
            top: 88%;
            button {
                width: 25px;
                height: 15px;
                margin: 5px;
                border-radius: 100px;
                cursor: pointer;
            }
        }
}
