.f {
    grid-area: f;
    position: relative;
    background-color: #B0C4DE;
    border: black solid 1px;
    height: 250px;
    h2 {
        font-size: 1.2em;
        padding-left: 5px;
        margin: 3px 0;
        a {
            text-decoration: none;
            color: black;
            &::after {
                content: ' >';
            }
        }
    }
    h3 {
        font-size: 1em;
        margin: 10px auto;
        text-align: center;
    }
    p {
        font-size: 0.85em;
        opacity: 0;
    }
    .film-autore {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 250px;
        div {
            width: 35%;
            min-height: 200px;
            position: absolute;
            overflow: hidden;
            left: -100%;
            img {
                display: block;
                width: 100%;
                height: 200px;
                padding: 3px;
                border-radius: 10px;
            }
            .overlay {
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                h3 {
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    font-size: clamp(0.7em, 1.5vw, 1.1em);
                    margin: 0 auto;
                    color: white;
                }
                p {
                    width: 100%;
                    font-size: clamp(0.5em, 0.8vw, 0.9em);
                    opacity: 0;
                    color: white;
                }
            }
        }
        
        .film-visibile {
        left: 0;
        }

        .film-visibile2 {
            left: 36%;
        }

        .film-visibile3 {
            left: 72%;
        }

        .film-prossimo {
            left: 100%;
        }
    }
}