#menu {
    border: solid black 1px;
    background-color: lightblue;
    width: 100%;
    position: fixed;
    z-index: 10000;
    height: 60px;
    bottom: 0;
    ul {
        list-style: none;
        display: flex;
        li {
            width: 25%;
            text-align: center;
            a {
                text-decoration: none;
                line-height: 60px;
                color: white;
                transition: 0.5s;
                text-shadow:
                    1px 1px 2px rgba(0,0,0,0.5),
                    2px 2px 4px rgba(0,0,0,0.5),
                    4px 4px 8px rgba(0,0,0,0.5);
                    &:hover {
                    color: #4682B4;
                    }
            }
        }

        @mixin list-style ($image) {
            background-image: url(#{$image});
            background-repeat: no-repeat;
            background-size: 35%;
            background-position: center center;
        }

        li:first-child {
            @include list-style ("../images/icone/home.png");
        }

        li:nth-child(2) {
            @include list-style ("../images/icone/magnifying-glass.png");
        }

        li:nth-child(3) {
            @include list-style ("../images/icone/download.png");
        }
        
        li:last-child {
            @include list-style ("../images/icone/profile-user.png")
        }
    }
}